.login-popup{
    background-color: #00000090;
    width: 100%;
    height: 100%;
    display: grid;
    position: absolute;
    z-index: 1;
}


.login-popup-container{
    place-self: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px 30px;
    border-radius: 8px;
    font-size: 14px;
    width: max(23vw,330px);
    color: #808080;
    animation: fadeIn 0.5s;
}

.login-popup-inputs{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-popup-title{
    display: flex;
    color: black;
    justify-content: space-between;
    
    align-items: center;
}

.login-popup-title img{
    height: 15px;
    cursor: pointer;
}

.login-popup-inputs input{
    outline: none;
    border: 1px solid #c9c9c9;
    padding: 10px;
    border-radius: 4px;
}
.login-popup-container button{
    border: none;
    padding: 10px;
    border-radius: 4px;
    color: white;
    background-color: tomato;
    font-size: 15px;
    cursor: pointer;
}
.login-popup-condition{
    display: flex;
    align-items: start;
    gap: 8px;
    margin-top: -1;
    align-items: center;
}
.createAccount{
    display: flex;
    
}

.signUp{
    cursor: pointer;
    color: tomato;
    margin-top: 0px;
}

